In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_csv('data.csv', encoding = 'ISO-8859-1')

In [ ]:
# ecom_data = pd.read_csv('data.csv', encoding = 'ISO-8859-1')

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.columns

In [ ]:
for column in df.columns:
    print(column)

In [ ]:
d = {
        'InvoiceNo': 'invoice_num',
        'StockCode' : 'stock_code',
        'Description' : 'description',
        'Quantity' : 'quantity',
        'InvoiceDate' : 'invoice_date',
        'UnitPrice' : 'unit_price',
        'CustomerID' : 'cust_id',
        'Country' : 'country'
}

In [ ]:
d

In [ ]:
df.rename(columns = d, inplace = True)

In [ ]:
df.columns

In [ ]:
for i in df.columns:
    print(i)

In [ ]:
df.head()

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.isnull()

In [ ]:
len(df.columns)

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum().sort_values()

In [ ]:
df.isnull().sum().sort_values(ascending = False)

In [ ]:
df.dtypes

In [ ]:
df.head(2)

In [ ]:
df['invoice_date'] = pd.to_datetime(df.invoice_date, format='%m/%d/%Y %H:%M')

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df.description

In [ ]:
df.description.str.lower()

In [ ]:
df.head(3)

In [ ]:
df['description'] = df.description.str.lower()

In [ ]:
df.head()

In [ ]:
df.isnull().sum().sort_values(ascending = False)

In [ ]:
df_new = df.dropna()

In [ ]:
df_new.isnull().sum()

In [ ]:
df_new.info()

In [ ]:
df_new.head()

In [ ]:
df_new.dtypes

In [ ]:
df_new['cust_id']

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df_new['cust_id'] = df_new['cust_id'].astype('int64')

In [ ]:
df_new.head()

In [ ]:
df_new.info()

In [ ]:
df_new.describe()

In [ ]:
df_new.describe().round(2)

In [ ]:
values = [1, 2, 3, -4, -5, 6, 7]

In [ ]:
for value in values:
    print(value)

In [ ]:
for value in values:
    if value >= 0:
        print(value)

In [ ]:
df_new.quantity > 0

In [ ]:
con = df_new.quantity > 0

In [ ]:
df_new = df_new[con]

In [ ]:
df_new.describe().round(2)

In [ ]:
df_new.head()

In [ ]:
df_new.shape

In [ ]:
df_new['amount_spent'] = df_new['quantity'] * df_new['unit_price']

In [ ]:
df_new.head()

In [ ]:
for col in df_new.columns:
    print(col)

In [ ]:
col_order = ['invoice_num','invoice_date','stock_code','description','quantity','unit_price','amount_spent','cust_id','country']

In [ ]:
df_new = df_new[col_order]

In [ ]:
df_new.head()

In [ ]:
df_new.shape

In [ ]:
len(df_new.columns)

In [ ]:
df_new['invoice_date']

In [ ]:
df_new.invoice_date

In [ ]:
df_new['invoice_date'].dt.year

In [ ]:
df_new['invoice_date'].dt.month

In [ ]:
df_new.head(2)

In [ ]:
y = 2010
m = 12

In [ ]:
y_m = 100*2010 + 12

In [ ]:
y_m

In [ ]:
c1 = 'year_month'

In [ ]:
v1 = df_new['invoice_date'].map(lambda col: 100*(col.year) + col.month)

In [ ]:
df_new.insert(loc = 2, column = c1, value = v1)

In [ ]:
df_new

In [ ]:
df_new.head()

In [ ]:
c2 = 'month'

In [ ]:
v2 = df_new.invoice_date.dt.month

In [ ]:
df_new.insert(loc = 3, column = c2, value = v2)

In [ ]:
df_new.head()

In [ ]:
df_new.invoice_date

In [ ]:
df_new.invoice_date.dt.dayofweek

In [ ]:
c3 = 'day'

In [ ]:
v3 = (df_new.invoice_date.dt.dayofweek)+1

In [ ]:
df_new.insert(loc = 4, column = c3, value = v3)

In [ ]:
df_new.head()

In [ ]:
df_new.invoice_date

In [ ]:
# dir(df_new.invoice_date)

In [ ]:
# dir(df_new.invoice_date.dt)

In [ ]:
# df_new.invoice_date.dt.hour

In [ ]:
c4 = "hour"

In [ ]:
v4 = df_new.invoice_date.dt.hour

In [ ]:
df_new.insert(loc = 5, column = c4, value = v4)

In [ ]:
df_new.head()

In [ ]:
df_new.columns

In [ ]:
for col in df_new.columns:
    print(col)

In [ ]:
df_new.groupby(by = ['cust_id']).count()

In [ ]:
df_new.groupby(by = ['cust_id','country']).count()

In [ ]:
df_new.groupby(by = ['cust_id','country'])['invoice_num'].count()

In [ ]:
df_new.groupby(by = ['cust_id','country'], as_index = False)['invoice_num'].count()

In [ ]:
df_new.groupby(by=['cust_id','country'], as_index=False)['invoice_num'].count().head()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_new.groupby(by=['cust_id','country'], as_index=False)['invoice_num'].count()

In [ ]:
orders = df_new.groupby(by=['cust_id','country'], as_index=False)['invoice_num'].count()

In [ ]:
orders

In [ ]:
orders.sort_values(by = 'invoice_num', ascending = False).head()

In [ ]:
orders = df_new.groupby(by=['cust_id','country'], as_index=False)['invoice_num'].count()

plt.subplots(figsize=(15,6))

plt.plot(orders.cust_id, orders.invoice_num)

plt.xlabel('Customers ID')
plt.ylabel('Number of Orders')
plt.title('Number of Orders for different Customers')

plt.show()

In [ ]:
df_new.groupby(by = ['cust_id', 'country']).sum()

In [ ]:
df_new.groupby(by = ['cust_id', 'country'])['amount_spent'].sum()

In [ ]:
df_new.groupby(by = ['cust_id', 'country'], as_index = False)['amount_spent'].sum()

In [ ]:
money_spent = df_new.groupby(by = ['cust_id', 'country'], as_index = False)['amount_spent'].sum()

In [ ]:
money_spent

In [ ]:
money_spent.sort_values(by='amount_spent', ascending = False).head()

In [ ]:
money_spent.sort_values(by='amount_spent', ascending = False).head(10)

In [ ]:
money_spent = df_new.groupby(by=['cust_id','country'], as_index=False)['amount_spent'].sum()

plt.subplots(figsize=(15,6))

plt.plot(money_spent.cust_id, money_spent.amount_spent)

plt.xlabel('Customers ID')
plt.ylabel('Money spent (Dollar)')
plt.title('Money Spent for different Customers')

plt.show()

In [ ]:
df_new.head()

In [ ]:
color = sns.color_palette()

In [ ]:
df_new.head()

In [ ]:
df_new.groupby('invoice_num')

In [ ]:
 df_new.groupby('invoice_num')['year_month']

In [ ]:
df_new.groupby('invoice_num')['year_month'].unique()

In [ ]:
df_new.groupby('invoice_num')['year_month'].unique().value_counts()

In [ ]:
df_new.groupby('invoice_num')['year_month'].unique().value_counts().sort_index()

In [ ]:
ax = df_new.groupby('invoice_num')['year_month'].unique().value_counts().sort_index().plot(kind = 'bar',color = color[0],figsize = (15,6))

ax.set_xlabel('Month and Year',fontsize=15)
ax.set_ylabel('Number of Orders',fontsize=15)
ax.set_title('Number of orders for different Months (1st Dec 2010 - 9th Dec 2011)', fontsize = 15)

t = ('Dec_10','Jan_11','Feb_11','Mar_11','Apr_11','May_11','Jun_11','July_11','Aug_11','Sep_11','Oct_11','Nov_11','Dec_11')

ax.set_xticklabels(t, rotation='horizontal', fontsize=13)

plt.show()

In [ ]:
df_new.groupby('invoice_num')

In [ ]:
df_new.groupby('invoice_num')['day']

In [ ]:
df_new.groupby('invoice_num')['day'].unique()

In [ ]:
df_new.groupby('invoice_num')['day'].unique().value_counts()

In [ ]:
df_new.groupby('invoice_num')['day'].unique().value_counts().sort_index()

In [ ]:
df_new.head()

In [ ]:
df_new.groupby('invoice_num')

In [ ]:
df_new.groupby('invoice_num')['day']

In [ ]:
df_new.groupby('invoice_num')['day'].unique()

In [ ]:
df_new.groupby('invoice_num')['day'].unique().value_counts()

In [ ]:
df_new.groupby('invoice_num')['day'].unique().value_counts().sort_index()

In [ ]:
ax = df_new.groupby('invoice_num')['day'].unique().value_counts().sort_index().plot(kind = 'bar',color=color[0],figsize=(15,6))

ax.set_xlabel('Day',fontsize=15)
ax.set_ylabel('Number of Orders',fontsize=15)
ax.set_title('Number of orders for different Days',fontsize=15)
d = ('Mon','Tue','Wed','Thur','Fri','Sun')
ax.set_xticklabels(d, rotation='horizontal', fontsize=15)
plt.show()

In [ ]:
df_new.unit_price.describe()

In [ ]:
# check the distribution of unit price
plt.subplots(figsize = (12,6))

sns.boxplot(df_new.unit_price)
plt.show()

In [ ]:
df_free = df_new[df_new.unit_price == 0]

In [ ]:
len(df_free)

In [ ]:
df_free.year_month

In [ ]:
df_free.year_month.value_counts()

In [ ]:
df_free.year_month.value_counts().sort_index()

In [ ]:
ax = df_free.year_month.value_counts().sort_index().plot(kind = 'bar',figsize=(12,6), color=color[0])
ax.set_xlabel('Month',fontsize=15)
ax.set_ylabel('Frequency',fontsize=15)
ax.set_title('Frequency for different Months (Dec 2010 - Dec 2011)',fontsize=15)

m = ('Dec_10','Jan_11','Feb_11','Mar_11','Apr_11','May_11','July_11','Aug_11','Sep_11','Oct_11','Nov_11')

ax.set_xticklabels(m, rotation='horizontal', fontsize=13)
plt.show()

In [ ]:
df_new

In [ ]:
df_new.groupby('country')

In [ ]:
df_new.groupby('country')['invoice_num']

In [ ]:
df_new.groupby('country')['invoice_num'].count()

In [ ]:
df_new.groupby('country')['invoice_num'].count().sort_values()

In [ ]:
group_country_orders = df_new.groupby('country')['invoice_num'].count().sort_values()
# del group_country_orders['United Kingdom']

# plot number of unique customers in each country (with UK)
plt.subplots(figsize=(15,8))
group_country_orders.plot(kind = 'barh', fontsize=12, color=color[0])
plt.xlabel('Number of Orders', fontsize=12)
plt.ylabel('Country', fontsize=12)
plt.title('Number of Orders for different Countries', fontsize=12)
plt.show()

In [ ]:
group_country_orders = df_new.groupby('country')['invoice_num'].count().sort_values()
del group_country_orders['United Kingdom']

# plot number of unique customers in each country (with UK)
plt.subplots(figsize=(15,8))
group_country_orders.plot(kind = 'barh', fontsize=12, color=color[0])
plt.xlabel('Number of Orders', fontsize=12)
plt.ylabel('Country', fontsize=12)
plt.title('Number of Orders for different Countries', fontsize=12)
plt.show()

In [ ]:
df_new

In [ ]:
df_new.groupby('country')

In [ ]:
df_new.groupby('country')['amount_spent']

In [ ]:
df_new.groupby('country')['amount_spent'].sum()

In [ ]:
df_new.groupby('country')['amount_spent'].sum().sort_values()

In [ ]:
group_country_amount_spent = df_new.groupby('country')['amount_spent'].sum().sort_values()
# del group_country_orders['United Kingdom']

# plot total money spent by each country (with UK)
plt.subplots(figsize=(15,8))
group_country_amount_spent.plot(kind = 'barh', fontsize=12, color=color[0])
plt.xlabel('Money Spent (Dollar)', fontsize=12)
plt.ylabel('Country', fontsize=12)
plt.title('Money Spent by different Countries', fontsize=12)
plt.show()

In [ ]:
group_country_amount_spent = df_new.groupby('country')['amount_spent'].sum().sort_values()
del group_country_amount_spent['United Kingdom']

# plot total money spent by each country (without UK)
plt.subplots(figsize=(15,8))
group_country_amount_spent.plot(kind = 'barh', fontsize=12, color=color[0])
plt.xlabel('Money Spent (Dollar)', fontsize=12)
plt.ylabel('Country', fontsize=12)
plt.title('Money Spent by different Countries', fontsize=12)
plt.show()